.adContainer{
    border:solid #B9D0BA;
    background-color: #B9D0BA;
    display: flex;
    padding:15px;   
    justify-content: space-evenly;
}

.leftArrow{
    /* border:solid red; */
    height:30px;
    
}
.adTxt{
    /* border:solid blue; */
    height:30px;
}
.adLink{

    /* border:solid green; */
    height:30px;
}
.rightArrow {
/* border:solid red; */
height:30px;
}

.NavBar{
/* border:solid blue; */
padding:10px;
display: flex;
justify-content: space-between;
}
.mainPic{
    width:100%;
}